@font-face {
  font-family: 'Roboto-Regular';
  src: url("refs/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("refs/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("refs/Roboto-Bold.ttf") format("truetype"); }

/*$fontRegular: 'SF-UI-Text-Regular';
$fontMedium : 'SF-UI-Text-Medium';
$fontSemiBold: 'SF-UI-Text-Semibold';*/
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent; }

body {
  width: 100%;
  font-family: "Roboto-Regular";
  color: #333;
  font-size: 0;
  background-color: #FAFAFA;
  padding: 0 !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

a {
  text-decoration: none;
  outline: none;
  color: #333;
  background-color: transparent; }
  a:hover, a:active {
    outline: 0; }

ul li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

input {
  font-family: "Roboto-Regular";
  font-size: 16px;
  box-shadow: none;
  background-color: transparent;
  outline: none;
  border: none; }

button {
  background-color: transparent;
  outline: none;
  border: none; }
  button:hover, button:active {
    border: 0;
    outline: 0; }

textarea {
  font-family: "Roboto-Regular";
  resize: none;
  background-color: transparent; }

.tbl {
  display: table;
  width: 100%; }

.tbl-row {
  display: table-row; }

.tbl-cell {
  display: table-cell;
  vertical-align: middle; }

p {
  margin: 0; }

/*.preloader-indicator-modal {
    margin-left: -35px;
    margin-top: -35px;
    padding: 0;
    background: none;
    border-radius: 4px;

    .preloader {
        width: 71px;
        height: 71px;
        background-image: url('../images/gif/Trestro-Loading-Animation.gif');
        -webkit-animation: none;
        animation: none;
        border-radius: 4px;
    }
}*/
/*Override Classes*/
.views {
  overflow: hidden; }

.popover {
  width: 150px; }

html.with-statusbar-overlay body .popup {
  top: 0;
  height: 100%; }

.pages {
  background: #f5f5f5; }

.page {
  background: #FAFAFA; }

/*Welcome Screen*/
#ws_wrapper .swiper-pagination-bullet {
  border: 2px solid #999; }

#ws_wrapper .swiper-pagination-bullet-active {
  background: #999; }

#ws_wrapper .welcomescreen-text {
  bottom: 80px; }

#slide3 a {
  visibility: visible; }

.ws-backg {
  position: relative; }
  .ws-backg img {
    width: 200px; }
  .ws-backg p {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 200px auto;
    background-image: url("../../images/hiw-bg.png");
    z-index: -1; }

.ws-text {
  text-align: center; }
  .ws-text span {
    display: block;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    padding: 0 0 10px 0;
    text-transform: uppercase; }
  .ws-text p {
    font-size: 16px;
    color: #333;
    padding: 0 20px 0 20px; }
  .ws-text a {
    display: block;
    font-size: 16px;
    color: #FFF;
    padding: 8px 0 8px 0;
    width: 180px;
    margin: 40px auto 0 auto;
    text-align: center;
    background-color: #FF8534;
    visibility: hidden; }

/* Common Classes */
.navbar-colored {
  background: #386b95; }
  .navbar-colored .left .icon-back {
    font-size: 18px;
    color: #FFF; }
  .navbar-colored .center p {
    font-size: 20px;
    color: #FFF; }
  .navbar-colored .right p {
    font-size: 16px;
    color: #FFF; }
  .navbar-colored::after {
    display: none; }

.navbar-transparent {
  background: transparent; }
  .navbar-transparent::after {
    display: none; }

.add-icon {
  width: 20px;
  height: 20px;
  line-height: 18px;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  font-family: "Roboto-Medium";
  border: 2px solid #FFF;
  border-radius: 50%; }

.back-icon {
  font-size: 18px;
  color: #FFF;
  padding: 0 0 0 20px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px;
  background-image: url("../images/icon/icon-back-white.png"); }

.edit-icon {
  width: 24px;
  height: 24px;
  font-size: 18px;
  color: #FFF;
  padding: 0 0 0 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  background-image: url("../images/icon/icon-edit.png"); }

.back-icon-width {
  width: 24px;
  height: 24px;
  padding: 10px;
  background-position: center; }

.menu-bar i {
  color: #FFF;
  font-weight: 600; }

.panel {
  background: #333; }

.menu-setting {
  position: absolute;
  top: 10px;
  right: 10px; }
  .menu-setting a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("../images/icon/icon-setting.png"); }

.menu-user {
  text-align: center;
  padding: 30px 0 30px 0; }
  .menu-user a {
    display: inline-block; }
    .menu-user a span img {
      width: 64px; }
    .menu-user a p {
      font-size: 18px;
      color: #FFF;
      padding: 10px 0 0 0; }

.menu-home {
  padding: 15px 10px;
  margin: 10px 5px;
  border: 1px solid #EEE;
  border-radius: 45px; }

.menu-home-icon {
  width: 32px;
  text-align: center; }
  .menu-home-icon img {
    height: 32px; }

.menu-home-details {
  padding: 0 0 0 10px; }

.menu-home-name {
  font-size: 18px;
  color: #FFF; }

.menu-home-count p {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #AAA; }
  .menu-home-count p:nth-last-child(1) {
    width: 55%; }

.menu-logout {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center; }
  .menu-logout a {
    display: inline-block;
    font-size: 16px;
    color: #EEE;
    padding: 10px 30px;
    background: #386b95;
    border-radius: 4px; }

/*Dashbaord*/
.dashboard-welcome {
  display: none;
  text-align: center;
  padding: 20px 0 0 0; }

.dashboard-hello {
  text-align: center; }
  .dashboard-hello p {
    font-size: 22px;
    color: #333;
    font-family: "Roboto-Medium"; }
    .dashboard-hello p:nth-child(2) {
      font-size: 20px;
      color: #555;
      font-family: "Roboto-Regular"; }
  .dashboard-hello img {
    display: block;
    width: 100px;
    margin: 20px auto; }
  .dashboard-hello span {
    font-size: 18px;
    color: #555; }

.dashboard-welcome-plus {
  padding: 20px 0 0 0; }
  .dashboard-welcome-plus p {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 52px;
    font-size: 42px;
    color: #0F98C3;
    border: 2px solid #0F98C3;
    border-radius: 50%; }

.dashboard-name {
  padding: 10px;
  margin: 10px 0 0 0;
  background: #FFF;
  border: 1px solid #DDD;
  border-left: 0;
  border-right: 0;
  cursor: pointer; }

.dashboard-name-block {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  text-align: center;
  box-sizing: border-box; }
  .dashboard-name-block:nth-child(2) {
    padding: 0 5px; }
  .dashboard-name-block img {
    width: 36px;
    height: 36px; }
  .dashboard-name-block span {
    display: block;
    padding: 8px 0 5px 0;
    font-size: 14px;
    color: #999; }
  .dashboard-name-block p {
    font-size: 16px;
    color: #333; }

#room-bar .swiper-slide {
  border: 1px solid #DDD;
  border-top: 0;
  border-left: 0;
  text-align: center; }
  #room-bar .swiper-slide > a {
    padding: 10px 10px;
    background: #FFF;
    display: block; }
    #room-bar .swiper-slide > a p {
      font-size: 16px;
      color: #333; }
    #room-bar .swiper-slide > a span {
      font-size: 14px;
      color: #999; }
  #room-bar .swiper-slide:nth-child(1) {
    border-left: 1px solid #DDD; }
  #room-bar .swiper-slide.swiper-slide-active a {
    background: #386b95; }
    #room-bar .swiper-slide.swiper-slide-active a p {
      color: #FFF; }
    #room-bar .swiper-slide.swiper-slide-active a span {
      color: #BDD631; }
  #room-bar .swiper-slide.room-active > a {
    background: #386b95; }
    #room-bar .swiper-slide.room-active > a p {
      color: #FFF; }
    #room-bar .swiper-slide.room-active > a span {
      color: #BDD631; }

.room-accordion > .list-block {
  margin: 10px 0;
  background: #FFF; }
  .room-accordion > .list-block .item-inner {
    min-height: 48px; }

.room-accordion .room-accordion-ul {
  border-top: 1px solid #DDD; }
  .room-accordion .room-accordion-ul::before {
    display: none; }
  .room-accordion .room-accordion-ul > li {
    border-bottom: 1px solid #DDD; }

.room-accordion .accordion-item .item-link {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  letter-spacing: .5px; }
  .room-accordion .accordion-item .item-link span {
    font-size: 14px;
    color: #999;
    font-weight: 400; }
  .room-accordion .accordion-item .item-link .item-inner:after {
    display: none; }

.device-status .list-block {
  margin: 0 0 30px 0; }
  .device-status .list-block ul {
    background: #FFF; }
    .device-status .list-block ul::before {
      display: none; }
    .device-status .list-block ul::after {
      display: none; }
  .device-status .list-block li {
    border-bottom: 1px solid #EEE; }
    .device-status .list-block li:nth-last-child(1) {
      border: 0;
      box-shadow: 0 0 1px solid #AAA; }
  .device-status .list-block .item-media img {
    width: 23px;
    height: auto; }
  .device-status .list-block .item-inner {
    margin-left: 0;
    display: flex; }
    .device-status .list-block .item-inner::after {
      display: none !important; }
  .device-status .list-block .item-title.label {
    width: 70%;
    font-size: 16px;
    color: #555;
    letter-spacing: .5px; }
  .device-status .list-block .item-input {
    text-align: right; }
  .device-status .list-block .label-switch {
    padding: 7px; }

/*Setting*/
.setting-sub-ttl {
  padding: 10px; }
  .setting-sub-ttl p {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 18px;
    color: #555;
    font-weight: 600; }
    .setting-sub-ttl p:nth-last-child(1) {
      text-align: right; }
  .setting-sub-ttl a {
    color: #7DC244; }

.setting-list.list-block {
  margin: 0; }
  .setting-list.list-block ul {
    background: #FFF; }
    .setting-list.list-block ul::before {
      display: none; }
    .setting-list.list-block ul::after {
      display: none; }
  .setting-list.list-block li {
    border-bottom: 1px solid #EEE; }
    .setting-list.list-block li:nth-child(1) {
      border-top: 1px solid #EEE; }

.setting-list .item-content {
  padding-left: 10px; }

.setting-list .item-inner {
  padding-right: 10px; }
  .setting-list .item-inner::after {
    display: none; }

.setting-list .item-media img {
  width: 20px; }

.setting-list .item-title {
  color: #333; }

.setting-list .item-after {
  font-size: 14px;
  color: #555;
  text-transform: uppercase; }

.setting-rule .item-title {
  color: #555;
  font-size: 16px; }

.profile-input {
  margin: 10px; }
  .profile-input label {
    font-size: 18px;
    color: #555;
    display: block;
    padding: 5px 0; }
  .profile-input input {
    width: 100%;
    font-size: 16px;
    color: #333;
    padding: 12px 10px;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    box-sizing: border-box; }
    .profile-input input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #999; }

.profile-submit {
  margin: 10px;
  padding: 20px 0 20px 0; }
  .profile-submit button {
    display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    background: #484065;
    border-radius: 4px; }

.home-submit, .room-submit, .device-submit {
  margin: 10px;
  padding: 20px 0 20px 0; }
  .home-submit button, .room-submit button, .device-submit button {
    display: block;
    width: 30%;
    margin: 0 auto;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    background: #484065;
    border-radius: 4px; }

.rule-add-container .content-block-title {
  margin: 16px 16px 0 16px; }

.rule-add-container .list-block {
  margin: 0 0 10px 0; }
  .rule-add-container .list-block ul::before {
    display: none; }

/*Login Popup*/
#login {
  /*.page {
        background: $colorLightBlue;
    }*/ }

#register-page .navbar, #verify-page .navbar, #forgot-page .navbar {
  background: #386b95; }
  #register-page .navbar .center, #verify-page .navbar .center, #forgot-page .navbar .center {
    color: #FFF; }

.login-logo {
  padding: 0 0 0 0;
  text-align: center; }
  .login-logo h2 {
    font-size: 20px;
    font-family: "Roboto-Bold";
    color: #386b95;
    padding: 0 0 10px 0; }
  .login-logo img {
    width: 80px; }

.login-form {
  margin: 20px 0 10px 0; }

.form-container {
  margin: 10px 0; }
  .form-container ul::before {
    display: none; }
  .form-container .item-input-error-msg {
    display: none; }
  .form-container .item-inner {
    margin-bottom: 0;
    padding-top: 0; }

/*.register-form {
    .form-submit {

        p {
            width: 70%;
        }
    }
}

.forgot-form {

    .form-submit {

        p {
            width: 80%;
        }
    }
}*/
.error-msg {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ff6161;
  padding: 10px 16px; }

.form-input {
  margin: 10px; }
  .form-input label {
    font-size: 16px;
    color: #AAA;
    display: block;
    padding: 5px 0; }
  .form-input input {
    width: 100%;
    font-size: 16px;
    color: #333;
    padding: 12px 10px;
    background: #FFF;
    border-radius: 4px;
    box-sizing: border-box;
    border: solid 1px #386b95; }
    .form-input input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #999; }

.error-state .item-input-field::after {
  background: red !important; }

.error-state item-input-error-msg {
  display: block !important; }

.non-empty-state .non-input-field::after {
  background: #386b95; }

.input-field.focus-state:after, .input-field.not-empty-state:after, .item-input-field.focus-state:after, .item-input-field.not-empty-state:after {
  background: #386b95; }

.item-input-error-msg, .item-input-error-msg2 {
  font-size: 14px;
  color: red;
  display: none; }

.list-block .item-inner {
  min-height: 72px; }

.list-block .item-input {
  min-height: 30px;
  margin-bottom: 0; }

.list-block input {
  height: 30px; }

.list-block .focus-state .floating-label {
  color: #386b95; }

.login-link {
  margin: 10px;
  overflow: hidden; }
  .login-link a {
    position: relative;
    display: block;
    float: left;
    font-size: 18px;
    color: #386b95;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .login-link a:nth-last-child(1) {
      float: right; }

.button.button-fill {
  background: #386b95; }

.form-submit {
  margin: 10px;
  padding: 20px 0 20px 0;
  text-align: center; }
  .form-submit button {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    border-radius: 4px;
    background: #386b95; }
  .form-submit div {
    display: inline-block;
    margin: -13px 0 -13px 15px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    border-radius: 4px;
    background: #386b95; }

.forgot-text {
  padding: 10px; }
  .forgot-text p {
    text-align: center;
    font-size: 16px;
    color: #AAA; }

.verify-container, .forgot-verify-container {
  display: none; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

